<h3></h3>
<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
        <div id="male" class="male male-inner">
       <img src="{{imgmale}}" usemap="#malefrontimage-map" alt="male">
        <div class="row">
                <a class="btn btn-primary rbtn" ng-show="BackView" ng-click="RotateImg('male', 'back');"><i class="fa fa-undo" aria-hidden="true"></i> Rotate</a>
                <a class="btn btn-primary rbtn" ng-hide="BackView" ng-click="RotateImg('male', 'front');"><i class="fa fa-undo" aria-hidden="true"></i> Rotate</a>
                <a href="#"  class="btn btn-primary rbtn">All Symptoms</a>
            </div>
        </div>
        <map name="#malefrontimage-map">
                <area target="" alt="head" title="head" href="symptoms.html#!/mhead" coords="62,0,163,0,125,89,98,89,80,46" shape="poly">
                <area target="" alt="neck" title="neck" href="symptoms.html#!/mneck" coords="135,80,91,81,88,105,138,102" shape="poly">
                <area target="" alt="chest" title="chest" href="symptoms.html#!/mchest" coords="53,121,179,121,175,219,60,222" shape="poly">
                <area target="" alt="stomach" title="stomach" href="symptoms.html#!/mstomach" coords="54,229,171,301" shape="rect">
                <area target="" alt="leftarms" title="leftarms" href="symptoms.html#!/mleftarms" coords="180,210,207,200,212,226,220,258,222,295,222,327,208,331,196,291,189,279,186,255,189,241,184,225" shape="poly">
                <area target="" alt="rightarms" title="rightarms" href="symptoms.html#!/mrightarms" coords="19,199,43,209,38,243,37,273,28,299,17,329,3,323,5,293,3,270,8,244,13,232,20,217" shape="poly">
                <area target="" alt="lefthand" title="lefthand" href="symptoms.html#!/mlefthand" coords="211,335,226,335,226,368,218,381,207,398,201,382,203,355,205,342" shape="poly">
                <area target="" alt="righthand" title="righthand" href="symptoms.html#!/mrighthand" coords="3,326,14,331,21,355,27,379,21,394,10,385,0,368,0,337" shape="poly">
                <area target="" alt="rightlegs" title="rightlegs" href="symptoms.html#!/mrightlegs" coords="" shape="poly">
                <area target="" alt="leftlegs" title="leftlegs" href="symptoms.html#!/mleftlegs" coords="124,425,173,428,161,478,161,492,161,506,161,518,166,540,167,562,160,579,160,593,156,625,153,638,156,650,146,646,134,642,132,590,129,571,126,554,128,535,132,511,130,498,130,483,128,458,127,437,126,426" shape="poly">
                <area target="" alt="rightlegs" title="rightlegs" href="symptoms.html#!/mrightlegs" coords="95,638,72,639,71,612,65,592,61,566,60,544,63,521,65,494,63,469,54,447,54,430,67,427,82,425,98,430,99,446,99,476,95,517,101,542,99,560,95,586,91,602,92,626" shape="poly">
                <area target="" alt="leftfoot" title="leftfoot" href="symptoms.html#!/mleftfoot" coords="132,648,155,650,156,664,162,674,157,679,140,676,129,674,130,662" shape="poly">
                <area target="" alt="rightfoot" title="rightfoot" href="symptoms.html#!/mrightfoot" coords="95,645,75,645,70,651,68,663,63,670,61,676,80,674,97,674" shape="poly">
            </map>
</div>
<div class="col-md-8 col-xs-8 8 col-lg-8 col-sm-8">
    <div class="col-lg-6 col-sm-6 steps step1">
        <img src="img/step1.png" alt="step1">
    </div>
    <div class="col-lg-6 col-sm-6 steps step2">
            <img src="img/steps2.png" alt="step2">
     </div> 
      <div class="col-lg-6 col-sm-6 steps step3">
            <img src="img/steps3.png" alt="step2">
     </div>
</div>