<div class="container-fluid">
    <div class="row blog">
      <div class="banner">
        <img src="img/banner_10.jpg" class="img-responsive" alt="">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="titlePgae">
                <img src="img/icon_health_tips.png" alt="">
                <span>News</span>
              </div><!-- /title -->
            </div>

            <div class="tips2  col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="row">
                    
              <h1 class="col-md-12 col-lg-12 col-sm-12 col-xs-12">Editor’s Pick</h1>
              
              <div masonry   load-images="true"  class="healthtipsarticle  grid" >
                <div ng-repeat="news in editornews" class="articleinnersection masonry-brick grid-item">
                  <a ui-sref="news.articles({id:'{{news.WebNewsID}}'})" href="/healthtips/{{news.WebNewsID}}" title=""><h2>{{news.WebNewsTitle}}</h2>
                  <p>{{news.WebNewsSummary}} </p>
                  <small>View post /{{news.WebNewsAuthor}}  / {{news.WebNewsDate}}</small>
                  <figure>
                    <img ng-src="{{news.WebNewsMainImage}}" alt="{{news.WebNewsTitle}}">
                  </figure></a>
                </div>

            </div>

             
                    <!-- <h2>LOREM IPSUM</h2>
                    <span>Lorem Ipsum is simply dummy text </span>
                    <small>View post / AUTHOR / 09-18-17</small>
                    <img src="img/tip2_3.jpg" alt="">
                  

                
                      <h2>LOREM IPSUM</h2>
                      <span>Lorem Ipsum is simply dummy text </span>
                      <small>View post / AUTHOR / 09-18-17</small>
                      <img src="img/tip2_2.jpg" alt="">
                        <h2>LOREM IPSUM</h2>


                        <span>Lorem Ipsum is simply dummy text </span>
                        <small>View post / AUTHOR / 09-18-17</small>
                        <img src="img/tip2_4.jpg" alt=""> -->
                      
              </div>
              <div class="row">
                      <h1 class="col-md-12 col-lg-12 col-sm-12 col-xs-12">Latest articles</h1>

                      <div   masonry   load-images="true" class="healthtipsarticle   grid" >
                        <div  ng-repeat="news in news  | limitTo: paginationLimit()"   class="articleinnersection masonry-brick  grid-item">
                          <a ui-sref="news.articles({id:'{{news.WebNewsID}}'})" title=""><h2>{{news.WebNewsTitle}}</h2>
                          <p>{{news.WebNewsSummary}} </p>
                          <small>View post /{{news.WebNewsAuthor}}  / {{news.WebNewsDate}}</small>
                          <figure>
                            <img ng-src="{{news.WebNewsMainImage}}" alt="{{news.WebNewsTitle}}">
                          </figure></a>
                        </div>
        
                    </div>
                              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                  <button ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">LOAD MORE</button>
                                </div>

              </div><!--/row-->
            </div><!-- /tips2 -->




          </div>
        </div>
      </div>
    </div>
  </div>
