
<div id="mainsym">
<div id="menusym">
        <h3>Choose Gender</h3>
        <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                <div id="female" class="female">
                <a ui-sref="symptoms.female" ><img src="{{imgfemale}}" alt="female"></a>
                <div class="row">
                        <a class="btn btn-primary rbtn" ng-show="BackView" ng-click="RotateImg('female', 'back');"><i class="fa fa-undo" aria-hidden="true"></i> Rotate</a>
                        <a  class="btn btn-primary rbtn" ng-hide="BackView" ng-click="RotateImg('female', 'front');"><i class="fa fa-undo" aria-hidden="true"></i> Rotate</a>
                        <a ui-sref="symptoms.female.all" class="btn btn-primary rbtn">All Symptoms</a>
                    </div>
                </div>
        </div>         
        <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                <div id="symptoms.male" class="male"  >
                <a ui-sref="symptoms.male"><img src="{{imgmale}}" alt="male"></a>
                <div class="row">
                        <a class="btn btn-primary rbtn" ng-show="BackView" ng-click="RotateImg('male', 'back');"><i class="fa fa-undo" aria-hidden="true"></i> Rotate</a>
                        <a class="btn btn-primary rbtn" ng-hide="BackView" ng-click="RotateImg('male', 'front');"><i class="fa fa-undo" aria-hidden="true"></i> Rotate</a>
                        <a ui-sref="symptoms.male.all"  class="btn btn-primary rbtn">All Symptoms</a>
                    </div>
                </div>
        </div>
</div>
</div>
