
  <!--/ header-->
  <div class="container-fluid">
        <div class="row">
          <div class="banner">
            <img src="img/banner_8.jpg" class="img-responsive" alt="">
            <div class="container">
              <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="titlePgae">
                              <img src="img/icon_insurance.png" alt="">
                              <span>Videos</span>
                            </div>
                          </div>
                <div class="videos  col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <h1>Videos</h1>
                  <div class="row" >
                       
                    <div class="col-md-5 col-lg-5 col-sm-6 col-xs-6"  ng-repeat="videoinner in videoinnerdata | limitTo: paginationLimit()" >
                        <a fancybox href="{{videoinner.WebMediaVideoURL}}"  target="_blank" class="video">
                            <img src="{{videoinner.WebMediaMainImage}}" alt="{{videoinner.WebMediaTitle}}">
                            <span>{{videoinner.WebMediaTitle}}</span>
                            <p>{{videoinner.WebMediaContent}}</p>
                            <ul>
                                <li>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <small>200</small>
                                </li>
                                <li>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <small>1 month ago</small>
                                </li>
                            </ul>
                        </a>
                    </div>
                    
                    <!-- <div class="col-md-5 col-lg-5 col-sm-6 col-xs-6">
                        <div class="video">
                                <img src="img/p_2.jpg" alt="" class="videoActive">
                                <span>Lorem Ipsum</span>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                <ul>
                                    <li>
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <small>200</small>
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <small>1 month ago</small>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="moreVideoArea col-md-2 col-lg-2 col-sm-12 col-xs-12">
                            <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-4 col-xs-4">
                                <img src="img/p_3.jpg" alt="">
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-4 col-xs-4">
                                    <img src="img/p_4.jpg" alt="">
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-4 col-xs-4">
                                    <button>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    51 more
                                </button>
                            </div>
                        </div>
                    </div>  -->

                   
                  </div>
                  <!--/row-->
                </div>
                <button class="btn btn-primary loadmore" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Load More</button>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    
    