<div class="breadcrumb">
    <ul>
            <li class="tag label label-success">symptoms<a href="#" class="close">x</a></li>
            <li class="tag label label-success">{{parts}}<a href="#" class="close">x</a></li>
            <li class="tag label label-success">{{name}}<a href="#" class="close">x</a></li>
        </ul>
</div>
<div class="diseasedetail">
<div class="row">
<div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
<p>
{{sympcauses.Description}}
</p>


<h5>Symptoms</h5>

<p>{{sympcauses.SymptomsDesc}}</p>

<h5>Workup</h5>

<p>{{sympcauses.Workout}}</p>
<div ng-if="sympcauses.WebMedicalTestArray.length!=null">
<h5 >Tests</h5>

<p ng-repeat="webmed in sympcauses.WebMedicalTestArray">{{webmed.Title}}</p>
</div>
<div ng-if="sympcauses.WebSpecialtiesArray.length!=null">
<h5>Additional tests</h5>
<p ng-repeat="webspemed in sympcauses.WebSpecialtiesArray">{{webspemed.Title}}</p>
</div>
<div ng-if="sympcauses.WebSpecialtiesArray.length!=null">
<h5>Specialists</h5>
<p ng-repeat="webspemed in sympcauses.WebSpecialtiesArray">{{webspemed.Title}}</p>

</div>

<h5>Treatment</h5>

<p>{{sympcauses.Treatment}}</p> 

</div>
<div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
<div class="physiciansearch">
    <h5>Find Specialist</h5>
    <form>
    <div class="form-group">
        <label>Select Location</label>
        <select name="location" ng-model="areaselcted" ng-change="changedValue(areaselcted)" >
            <option default>Select area</option>
            <option ng-repeat="area in hosarea" value="{{area.ID}}">{{area.Title}}</option>
           
        </select>
    </div>
    <div class="form-group">
        <label>Select Hospital</label>
        <select ng-model="selectedIns"  name="location">
                <option default>Select area</option>
                <option ng-repeat="ins in hosserinsurance" value="{{ins.ID}}">{{ins.Title}}</option>
               
            </select>
    </div>
    </form>
</div>
</div>
</div>

</div>
<div class="row" ng-show="showhos">
    <div class="col-md-12 searchhressult">
        <h3>Search for hospitals/Clinics</h3>
    <div  class="hospitalslide owl-carousel">
        <div class="item" ng-repeat="hosi in hosserinsurance">
            <img src="../img/dummylogo.jpg" alt="access">
            <span class="name">{{hosi.Title}}</span>
            <!-- <a href="tel:{{hosi:LandLine}}"><span class="website">Phone:{{hosi.LandLine}}</span></a> -->
        </div>
      
    </div>
    </div>
</div>